# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Virtual Environments

# =========================

venv/
.venv/
env/
ENV/

# =========================

# VS Code

# =========================

.vscode/

# =========================

# Jupyter

# =========================

.ipynb_checkpoints/

# =========================

# Model Files

# =========================

models/
*.pt
*.pth
*.keras
*.h5
*.onnx
*.ckpt

# =========================

# Datasets

# =========================

dataset/
datasets/

# =========================

# YOLO Outputs

# =========================

runs/

# =========================

# Videos & Images

# =========================

sample videos/
*.mp4
*.avi
*.mov
*.mkv

# =========================

# Logs

# =========================

*.log

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# Environment Variables

# =========================

.env

# =========================

# Temporary Files

# =========================

*.tmp
*.temp
